{% extends 'forums/base.html' %}
{% block content %}
{% load static %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'forum' %}">Forum</a></li>
          <li><a href="">[CNN Indonesia] Naik Kereta Cukup Pakai Face Recognition, Cek 4 Masalahnya</a></li>
          <li>Buat Terjemahan</li>
        </ol>
        {% comment %} <h2>[CNN Indonesia] Naik Kereta Cukup Pakai Face Recognition, Cek 4 Masalahnya</h2> {% endcomment %}

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <h2 class="entry-title text-center mb-4" style="color:#ED7966;">
           Buat Terjemahan
          </h2>
          <div class="col-lg-6 entries">

            <article class="entry entry-single">             
              <h2 class="entry-title">
                <a href="blog-single.html">[CNN Indonesia] Naik Kereta Cukup Pakai Face Recognition, Cek 4 Masalahnya</a>
              </h2>

              {% comment %} <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-single.html">12 Comments</a></li>
                </ul>
              </div> {% endcomment %}

              <div class="entry-content">
                <hr>
               

                <p>
                    Jakarta, CNN Indonesia -- PT Kereta Api Indonesia (KAI) sedang mengujicoba fitur pengenalan wajah (face recognition) di pintu keberangkatan Stasiun Bandung. Meski sepintas menyingkat waktu pengecekan, fitur ini memilki sejumlah masalah.
                </p>

               

              </div>

             

            </article><!-- End blog entry -->

            

            

          </div><!-- End blog entries list -->

          <div class="col-lg-6">

            <div class="sidebar">

                                             
              <div class="reply-form">
                
                <form action="">
                  
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Terjemahkan</button>

                </form>

              </div>

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

{% endblock content %}