{% extends 'forums/base.html' %}
{% block content %}
{% load static %}
{% load hitcount_tags %}

<main id="main">
{% comment %} 
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="index.html">Home</a></li>
        <li>Profil</li>
      </ol>
      <h2>Profil</h2>

    </div>
  </section><!-- End Breadcrumbs --> {% endcomment %}

  <!-- ======= Team Section ======= -->
  <section class="gradient-custom-2 team" id="team">
    <div class="container py-5" style="height:100%">
      <div class="row d-flex justify-content-center align-items-center h-1000">
        <div class="col col-lg-9 col-xl-12">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #303179; height:75px;">
              <div class="ms-3 mt-4" >
                <h5>Daftar Permintaan Verifikator ({{num_user}})</h5>
                <p class="fst-italic"></p>
                
              </div>
            </div>
            
            <section id="portfolio" class="portfolio">
              <div class="container ">
                <div class="row portfolio-container ">
                  <div class="portfolio-item filter-evaluasi ps-5 pe-5">
                    <div class="table-responsive mt-4">
                     
                      <table class="table" id="table-verifikator-request">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Diajukan</th>
                            <th scope="col">Aksi</th>
                            
                            {% comment %} <th scope="col">Poin</th>
                            <th scope="col">Bergabung</th>
                             <th scope="col">Syarat Verifikator</th> {% endcomment %}
                          </tr>
                        </thead>
                        <tbody>
                          
                          {% for user in user %}
                          <tr>
                              <td>{{forloop.counter}}</td>
                              <td>{{user.nama_lengkap|title}}</td>
                              <td>{{user.email}}</td>
                              <td><a href="{{user.get_url}}">{{user.user|lower}}</a></td>
                              <td> <form action="" method="post" >
                                {% if user.status == "Diterima" %} <span class="text-success"> Diterima </span> {% else %}<a href="{{user.get_new}}" class="btn btn-sm btn-success">View</a>{% endif %}
                                
                              </form></td>
                             
                             
                          </tr>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                    </div>
                    
                      
                    
                  </div>
          
                </div>
          
              </div>
            </section><!-- End Portfolio Section -->
          </div>
        </div>
      </div>
    </div>
    
  </section>


</main><!-- End #main -->

{% endblock content %}