          
      {% load el_pagination_tags %}
      {% load hitcount_tags %}

        {% paginate artikel %}
          {% for article in artikel  %}
                    <tr>
                      
                      <td>
                        <a href="{{article.get_url}}">{{article.judul}}</a><br>
                        <span class="text-secondary">Diunggah : <strong>{{article.created|date}}</strong></span>
                      </td>
                      <td colspan="2">
                        Dilihat :  <strong>{% get_hit_count for article %} Kali</strong><br>
                        Translasi : <strong>{{article.num_translasi}} Translasi </strong>
                      </td>
                      <td style="font-size:14px">
                        
                        Terakhir Diterjemahkan : <br><strong>{{article.last_trans.updated|date}}</strong> <br>
                        Oleh : <strong>{{article.last_trans.user.fullname|title}}</strong>
                        
                      </td>
                      <td>
                        {% if article.status == True %}
                          <span class="badge rounded-pill text-bg-success">Open</span>
                          {% else %}
                          <span class="badge rounded-pill text-bg-danger">Closed</span>
                        {% endif %}
                      </td>

                    </tr>
          {% endfor %}
        {% show_more %}